# Logs y sistemas
*.log
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# Entornos y backups
.env
.env.backup
.env.production

# IDEs y herramientas
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.vagrant

# Node y compilados
/node_modules
/public/build
/public/hot

# Storage
/public/storage
/storage/*.key
/storage/pail

# Vendor y dependencias PHP
/vendor

# Homestead
Homestead.json
Homestead.yaml

# Laravel 4 específico
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen con public path cambiado
public_html/storage
public_html/hot
