@import "bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer utilities {
    .swiper-button-next,
    .swiper-button-prev {
        @apply w-8 h-8 py-2 px-1 after:text-sm text-stone-800 bg-stone-200 rounded-full !important;
    }

    .swiper-pagination-bullet {
        @apply bg-gray-100;
    }

    .swiper-pagination-bullet-active {
        @apply bg-stone-800;
    }

    .quantity-input {
        opacity: 1;
        border: none;
        border-left: 1px solid color-mix(in srgb, #444444, transparent 80%);
        border-right: 1px solid color-mix(in srgb, #444444, transparent 80%);
    }

    .quantity-selector::-webkit-inner-spin-button,
    .quantity-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        @apply m-0;
    }

    .form-control {
        border-right: none;
    }

    .btn {
        border-left: none;
    }

    @keyframes float {
        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }
    }
}
